{% extends 'home_rirm/base.html' %}
{% load static %}

{% block nav %}
    <li>
        {% if user.is_authenticated %}
        <a href="{% url 'student-home' %}" style="color: #777;">Student List</a>
        {% endif %}
    </li>
    <li>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" style="color: #777;">Logout</a>
        {% endif %}
    </li>
{% endblock nav %}

{% block content %}
    
<div class="container-fluid">
    <div class="container">
    <div class="col-sm-8 bg-2" 
    style="border-radius: 15px;
        padding: 30px;
        margin:1% 15% 2% 15%;
        height: 100%;
        box-shadow: 0px 2px 10px 0px #555;">

        <h1 class="text-center"> Welcome {{ user.username|title }} </h1>
        <h3 class="text-center">Search information available is given in the table below.</h3>
        <br>
        
        <div class="container-fluid text-center">
            {% if searched %}
                    <p> You searched for <h3>"{{searched}}"</h3></p>
                    <br>
                <h5>We have following results:</h5>

                    {% for student in parallel_searched %}
                        <h1><a href="{% url 'student-detail' student.id %}">{{student.roll_no.name}}</a></h1>
                    {% endfor %}
                    
            {% else %}
                <h1>You haven't searched anything yet!</h1>
            {% endif %}
            
        </div>
    <div class="container-fluid">
        <button class="btn btn-default" style="float: right;"><a href="{% url 'student-home' %}" style="text-decoration: none; color: #1abc9c;">Go back</a></button>
    </div>
</div>
</div>
</div>
{% endblock content %}