{% extends "home_rirm/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="height: 100%; ">
    <div class="row">
    <div class="col-sm-6 bg-1" 
    style="box-shadow: 0px 2px 10px 0px #555;
    padding: 30px !important;
    margin: 2% 25% 5% 25%;
    border-radius: 2%;
    ">
<form method="POST">
    {% csrf_token %}
    <field-set class="form-group">
        <legend class="border-bottom">
            FILL IN STUDENT'S ACADEMIC INFORMATION
        </legend>
        {{ form|crispy }}
    </field-set>
    <div class="form-group">
        <button class="btn btn-default" type="submit" style="color: #1abc9c;">Add Information</button>
        <a href="{% url 'student-details' %}" class="btn btn-secondary" style="color: #fff; float: right;">Cancel</a>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</form>
</div>
</div>
</div>
{% endblock content %}